@import "reset.css";
@import url("main.css");

img{
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}

.option {
    position: sticky;
    top: 10px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.out-btn {
    width: 100px;
    height: 40px;
    position: sticky;
    bottom: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
